In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sub_Bert_base_arabic=pd.read_csv("/content/submissionbert-base-arabic0-8651.tsv",sep='\t',header=None)
sub_arabertv01=pd.read_csv("/content/submissionAraBERT_0.8651.tsv",sep='\t',header=None)

In [ ]:
sub_Bert_base_arabic

              0                    1         2        3
0    CT21-AR-01  1345895983629086720  0.078538  Model_1
1    CT21-AR-01  1345983974712238080  0.054431  Model_1
2    CT21-AR-01  1346084576305836032  0.024923  Model_1
3    CT21-AR-01  1346144307309375495  0.090542  Model_1
4    CT21-AR-01  1346148004089225222  0.017661  Model_1
..          ...                  ...       ...      ...
595  CT21-AR-02  1348683214148263938  0.495925  Model_1
596  CT21-AR-02  1348720315862552580  0.624201  Model_1
597  CT21-AR-02  1348731441933398017  0.034951  Model_1
598  CT21-AR-02  1348747097236004866  0.905566  Model_1
599  CT21-AR-02  1348747484328316936  0.809554  Model_1

[600 rows x 4 columns]

In [ ]:
sub_arabertv01

              0                    1         2        3
0    CT21-AR-01  1345895983629086720  0.878712  Model_1
1    CT21-AR-01  1345983974712238080  0.001953  Model_1
2    CT21-AR-01  1346084576305836032  0.001647  Model_1
3    CT21-AR-01  1346144307309375495  0.009589  Model_1
4    CT21-AR-01  1346148004089225222  0.001831  Model_1
..          ...                  ...       ...      ...
595  CT21-AR-02  1348683214148263938  0.007370  Model_1
596  CT21-AR-02  1348720315862552580  0.971544  Model_1
597  CT21-AR-02  1348731441933398017  0.005237  Model_1
598  CT21-AR-02  1348747097236004866  0.984780  Model_1
599  CT21-AR-02  1348747484328316936  0.983435  Model_1

[600 rows x 4 columns]

In [ ]:
final=sub_arabertv01.copy()

In [ ]:
final

              0                    1         2        3
0    CT21-AR-01  1345895983629086720  0.878712  Model_1
1    CT21-AR-01  1345983974712238080  0.001953  Model_1
2    CT21-AR-01  1346084576305836032  0.001647  Model_1
3    CT21-AR-01  1346144307309375495  0.009589  Model_1
4    CT21-AR-01  1346148004089225222  0.001831  Model_1
..          ...                  ...       ...      ...
595  CT21-AR-02  1348683214148263938  0.007370  Model_1
596  CT21-AR-02  1348720315862552580  0.971544  Model_1
597  CT21-AR-02  1348731441933398017  0.005237  Model_1
598  CT21-AR-02  1348747097236004866  0.984780  Model_1
599  CT21-AR-02  1348747484328316936  0.983435  Model_1

[600 rows x 4 columns]

In [ ]:
final[2]=sub_Bert_base_arabic[2]*0.5+sub_arabertv01[2]*0.5

In [ ]:
final

              0                    1         2        3
0    CT21-AR-01  1345895983629086720  0.478625  Model_1
1    CT21-AR-01  1345983974712238080  0.028192  Model_1
2    CT21-AR-01  1346084576305836032  0.013285  Model_1
3    CT21-AR-01  1346144307309375495  0.050066  Model_1
4    CT21-AR-01  1346148004089225222  0.009746  Model_1
..          ...                  ...       ...      ...
595  CT21-AR-02  1348683214148263938  0.251647  Model_1
596  CT21-AR-02  1348720315862552580  0.797872  Model_1
597  CT21-AR-02  1348731441933398017  0.020094  Model_1
598  CT21-AR-02  1348747097236004866  0.945173  Model_1
599  CT21-AR-02  1348747484328316936  0.896494  Model_1

[600 rows x 4 columns]

In [ ]:
final.to_csv('FinalEnsemeble.tsv',sep='\t',index=False,header=None)

In [ ]:
!git clone https://gitlab.com/checkthat_lab/clef2021-checkthat-lab.git

Cloning into 'clef2021-checkthat-lab'...
remote: Enumerating objects: 493, done.
remote: Counting objects: 100% (493/493), done.
remote: Compressing objects: 100% (241/241), done.
remote: Total 594 (delta 261), reused 452 (delta 238), pack-reused 101
Receiving objects: 100% (594/594), 28.93 MiB | 33.74 MiB/s, done.
Resolving deltas: 100% (301/301), done.

In [ ]:
%cd /content/clef2021-checkthat-lab/task1/format_checker

/content/clef2021-checkthat-lab/task1/format_checker

In [ ]:
!python3 subtask_1a.py --pred-files-path=FinalEnsemeble.tsv

INFO : Subtask 1A: Checking file: FinalEnsemeble.tsv
c bon